.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .heading {
    margin-bottom: 5%;
  }

  .sign-in {
    display: flex;
    justify-content: center;
    background-color: rgb(88, 136, 240);

    .form-container {
      width: 50vw;
      font-weight: 700;

      form {
        padding: 10%;

        button {
          background-color: burlywood;
          color: black;
          font-weight: 700;
        }
      }
    }
  }
}
